<!DOCTYPE html>

<html lang="zxx">

{% include "nums/head.html" %}
{% load static %}
<body>

{% include "nums/header.html" %}

<!-- banner -->
<section class="section pb-0">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-7 text-center text-lg-left">
        <h1 class="mb-4">Receive sms online for free</h1>
        <p class="mb-4">Temporay-Sms-Number.xyz(Receive Sms Online for free) provide temporary phone number,free virtual phone number, the free phone number from China,USA,UK,HongKong..., you can use a temporary phone number to register the website or app google voice,apple id,gmail,facebook,whatsapp,telegram,twitter,instagram,yahoo and more, this is completely receive sms online free!</p>
      </div>
      <div class="col-lg-4 d-lg-block d-none">
        <img src={% static "images/banner.jpg" %} alt="illustration" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- /banner -->

<!-- topics -->
<section class="section pb-0">
  <div class="container">
    <h2 class="section-title">Browse All Countries</h2>
    <div class="row">
      {% for country in countries %}
        <!-- topic -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card match-height">
            <div class="card-body">
              <i class="card-icon mb-4"><img src="{% static "images/flags/" %}{{country.flag}}.svg" alt="" srcset=""></i>
              
              <h3 class="card-title h4">{{country.name}}</h3>
              <p class="card-text">free disposable phone number for verification.</p>
              <a href={% url "numbers" country.slug_id %} class="stretched-link"></a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /topics -->


{% include "nums/footer.html" %}

{% include "nums/scripts.html" %}

</body>
</html>
