<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Receive sms online for free, Free sms receive online, Temporary phone number for verification code</title>
    
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- meta -->
    <meta name="keywords" content="temporary phone number,virtual phone number,free temporary phone number,receive sms online,free sms,free sms receive,Receive sms online for free,verification code,sms receiver">
    <meta name="description" content="Temporay-Sms-Number.xyz(Receive Sms Online for free) provide temporary phone number,free virtual phone number, the free phone number from China,USA,UK,HongKong..., you can use a temporary phone number to register the website or app google voice,apple id,gmail,facebook,whatsapp,telegram,twitter,instagram,yahoo and more, this is completely receive sms online free!">
    
    <!-- ** Plugins Needed for the Project ** -->

    <!-- plugins -->
    <link rel="stylesheet" href={% static "plugins/bootstrap/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "plugins/themify-icons/themify-icons.css" %}>
    <!-- Main Stylesheet -->
    <link href={% static "css/style.css" %} rel="stylesheet">
  
  </head>