<!DOCTYPE html>

<html lang="zxx">

{% include "nums/head.html" %}

<body>
{% load static %}

{% include "nums/header.html" %}

<!-- banner -->
<section class="section pb-0">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-7 text-center text-lg-left">
        <h1 class="mb-4">Receive sms online for free</h1>
        <p class="mb-4" style="justify-content:center; display:flex;">Temporay-Sms-Number.xyz(Receive Sms Online for free) provide temporary phone number,free virtual phone number, the free phone number from China,USA,UK,HongKong..., you can use a temporary phone number to register the website or app google voice,apple id,gmail,facebook,whatsapp,telegram,twitter,instagram,yahoo and more, this is completely receive sms online free!</p>
      </div>
      <div class="col-lg-4 d-lg-block d-none">
        <img src={% static "images/banner.jpg" %} alt="illustration" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- /banner -->

<!-- topics -->
<section class="section pb-0">
  <div class="container">
    <h2 class="section-title">Browse Countries</h2>
    <div class="row">
      {% for country in four_countries %}
        <!-- topic -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card match-height">
            <div class="card-body">
              <i class="card-icon mb-4"><img src="{% static "images/flags/" %}{{country.flag}}.svg" alt="" srcset=""></i>
              
              <h3 class="card-title h4">{{country.name}}</h3>
              <p class="card-text">free disposable phone number for verification.</p>
              <a href={% url "numbers" country.slug_id %} class="stretched-link"></a>
            </div>
          </div>
        </div>
      {% endfor %}
     
      <div class="col-lg-12" style="justify-content: center; display: flex;">
        
        <a href={% url "countries" %}><button class="btn btn-primary">Browse All country</button></a>
     
      </div>
    </div>
  </div>
</section>
<!-- /topics -->



<!-- topics -->
<section class="section pb-0">
  <div class="container">
    <h2 class="section-title">Browse Numbers</h2>
    <div class="row">
      {% for number in four_numbers %}
        <!-- topic -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card match-height">
            <div class="card-body">
              <i class="card-icon mb-4"><img src="{% static "images/flags/" %}{{number.country_flag}}.svg"  alt="" srcset=""></i>
              
              <h3 class="card-title h4">{{number.number}}</h3>
              <p class="card-text">free disposable phone number for verification.</p>
              <a href={% url "messages" number.country number.slug_id %} class="stretched-link"></a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /topics -->








<!-- faq -->
<section class="section pb-0">
  <div class="container">
    <h2 class="section-title">Mostly Asked Questions</h2>
    <div class="row masonry-wrapper">
      <!-- faq item -->
      <div class="col-md-6 mb-4">
        <div class="card card-lg">
          <div class="card-body">
            <h3 class="card-title h5">What is temporary or disposable number?</h3>
            <p class="card-text content">Disposable phone number is formally known as a virtual phone number, which allows you to receive calls, text sms anonymously on private numbers.</p>
          </div>
        </div>
      </div>
      <!-- faq item -->
      <div class="col-md-6 mb-4">
        <div class="card card-lg">
          <div class="card-body">
            <h3 class="card-title h5">Do I have to register to use the service?</h3>
            <p class="card-text content">No you do not need to register. Also you couldn't if you wanted to, as we dont have a way for you to register.</p>
          </div>
        </div>
      </div>
      <!-- faq item -->
      <div class="col-md-6 mb-4">
        <div class="card card-lg">
          <div class="card-body">
            <h3 class="card-title h5">Is this free?</h3>
            <p class="card-text content">Yes this is completely free and always will be.</p>
          </div>
        </div>
      </div>
      <!-- faq item -->
      <div class="col-md-6 mb-4">
        <div class="card card-lg">
          <div class="card-body">
            <h3 class="card-title h5">How often do you add new phone numbers?</h3>
            <p class="card-text content">We try to add a few new ones every month or when we need to.</p>
          </div>
        </div>
      </div>
      <!-- faq item -->
      <div class="col-md-6 mb-4">
        <div class="card card-lg">
          <div class="card-body">
            <h3 class="card-title h5">Do I need a phone number to use this site?</h3>
            <p class="card-text content">Not at all. All you need as an internet connection to this website.</p>
          </div>
        </div>
      </div>
      <!-- faq item -->
      <div class="col-md-6 mb-4">
        <div class="card card-lg">
          <div class="card-body">
            <h3 class="card-title h5"> Do you filter any SMS messages?</h3>
            <p class="card-text content">Nope, all messages are untouched.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /faq -->

{% include "nums/footer.html" %}

{% include "nums/scripts.html" %}

</body>
</html>
