<!DOCTYPE html>
<html lang="zxx">

{% include "nums/head.html" %}
{% load static %}
<body>

<header class="sticky-top navigation">
  <div class=container>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class=navbar-brand href="index.html"><img class="img-fluid" src={% static "images/logo.png" %} alt="godocs"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-align-right h4 text-dark"></i></button>
      <div class="collapse navbar-collapse text-center" id=navigation>
        <ul class="navbar-nav mx-auto align-items-center">
          <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="search.html">Search Page</a></li>
        </ul>
        <form class="form-inline search-wrapper d-none d-lg-block" class="search-wrapper" action="search.html">
          <input id="search-by" name="s" type="search" class="form-control" placeholder="Search here ...">
          <button class="border-0 bg-white" type="submit"><i class="ti-search"></i></button>
        </form>
        <a href="changelog.html" class="btn btn-sm btn-outline-primary ml-lg-4">changelog</a>
        <a href="contact.html" class="btn btn-sm btn-primary ml-lg-4">contact</a>
      </div>
      <form class="form-inline search-wrapper d-block d-lg-none my-3" class="search-wrapper" action="search.html">
        <input id="search-by" name="s" type="search" class="form-control" placeholder="Search here ...">
        <button class="border-0 bg-white" type="submit"><i class="ti-search"></i></button>
      </form>
    </nav>
  </div>
</header>

<!-- details page -->
<section class="pt-5">
  <div class="container shadow section-sm rounded">
    <div class="row">
      <!-- sidebar -->
      {% include "nums/sidebar.html" %}
      <!-- body -->
      <div class="col-lg-8">
        <div class="px-lg-5 px-4">
          <h2 class="mb-4 font-weight-medium">{{country.name}} Phone Numbers</h2> <!-- main content -->
          <div class="content">
            <p><img src={% static "images/getting-started.jpg" %} width="500px" alt="image"></p>
            <p>Netherlands
              The country of plains, tulips and mills, where a special atmosphere of relaxed ness, freedom and performance reigns in the world famous Amsterdam - — all this is the Netherlands! But even without leaving home, you can study the development of the country, its news or museums online on the Internet thanks to popular sites and forums. sms24.me is a resource that will give you the opportunity to register on any local Internet resource using the database of virtual phone numbers of the Netherlands! At the same time, the site sms24.me remains free and open to any user!</p>
          </div>
          <div class="row">
            {% for number in numbers %}
              <div class="col-lg-6 col-md-4 col-sm-6 mb-4">
                <div class="card match-height">
                  <div class="card-body">
                    <i class="card-icon mb-4"><img src={% static "images/nl.webp" %} alt="" srcset=""></i>
                    <h3 class="card-title h4">{{number.number}}</h3>
                    <p class="card-text">
                      <span class="label label-primary" style="margin-top:8px;float:left; background-color: #D83A46;">Latest:</span> 
                      <span class="text-primary" style="float: right;">21 mins ago</span>
                    </p>
                    <a href={% url "messages" number.country number.slug_id %} class="stretched-link"></a>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
        {% include "pagination.html" %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /details page -->

<footer>
  <div class="container">
    <div class="row align-items-center border-bottom py-5">
      <div class="col-lg-4">
        <ul class="list-inline footer-menu text-center text-lg-left">
          <li class="list-inline-item"><a href="changelog.html">Changelog</a></li>
          <li class="list-inline-item"><a href="contact.html">contact</a></li>
          <li class="list-inline-item"><a href="search.html">Search</a></li>
        </ul>
      </div>
      <div class="col-lg-4 text-center mb-4 mb-lg-0">
        <a class="navbar-brand" href="index.html">
          <img class="img-fluid" src={% static "images/logo.png" %} alt="Hugo documentation theme">
        </a>
      </div>
      <div class="col-lg-4">
        <ul class="list-inline social-icons text-lg-right text-center">
          <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="ti-github"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="py-4 text-center">
      <small class="text-light">Copyright © 2020 a hugo theme by <a href="https://themefisher.com">themefisher</a></small>
    </div>
  </div>
</footer>

{% include "nums/scripts.html" %}

</body>
</html>