<!DOCTYPE html>
<html lang="zxx">

{% include "nums/head.html" %}
{% load static %}
<body>

{% include "nums/header.html" %}

<!-- details page -->
<section class="pt-5">
  <div class="container shadow section-sm rounded">
    <div class="row">
      <!-- sidebar -->
      {% include "nums/sidebar.html" %}
      <!-- body -->
      <div class="col-lg-8">
        <div class="px-lg-5 px-4">
          <h2 class="mb-4 font-weight-medium">{{country.name}} Phone Numbers</h2> <!-- main content -->
          <div class="content">
            <p style="justify-content: center;display: flex;"><img height="100px" src="{% static "images/flags/" %}{{country.flag}}.svg" width="500px" alt="image"></p>
            <p>{{country.name}}
              The country of plains, tulips and mills, where a special atmosphere of relaxed ness, freedom and performance reigns in the world famous Amsterdam - — all this is the {{country.name}} But even without leaving home, you can study the development of the country, its news or museums online on the Internet thanks to popular sites and forums. Temporay is a resource that will give you the opportunity to register on any local Internet resource using the database of virtual phone numbers of the {{country.name}} At the same time, the site Temporay remains free and open to any user!</p>
          </div>
          <div class="row">
            {% for number in numbers %}
              <div class="col-lg-6 col-md-4 col-sm-6 mb-4">
                <div class="card match-height">
                  <div class="card-body">
                    <i class="card-icon mb-4"><img src="{% static "images/flags/" %}{{number.country_flag}}.svg" alt="" srcset=""></i>
                    <h3 class="card-title h4">{{number.number}}</h3>
                    <p class="card-text">
                      <span class="label label-primary" style="margin-top:8px;float:left; background-color: #D83A46;">Latest:</span> 
                      <span class="text-primary" style="float: right;">21 mins ago</span>
                    </p>
                    <a href={% url "messages" number.country_slug number.slug_id %} class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <script>
                var v = {{forloop.counter}};
                if(v > 1 && v%2 == 0){
                  placeAd();
                }
              </script>
            {% endfor %}
        </div>
        {% include "pagination.html" %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /details page -->

{% include "nums/footer.html" %}

{% include "nums/scripts.html" %}

</body>
</html>